.header{
    background-color: black;
    height: 5rem;
    width: 100vw;
    display: flex;
    place-content: center;
    place-items: center;
}

.movie-app{
    font-size: large;
    color: white;
    
}